@font-face {
    font-family: 'MainLogo';
    src: url('./assets/font/SDSamliphopangcheTTFOutline.ttf');
}
@font-face {
    font-family: 'MainText';
    src: url('./assets/font/SDSamliphopangcheTTFBasic.ttf');
}